Source: marauroa
Section: net
Priority: optional
Maintainer: Miguel Angel Blanch Lardin <miguelangelblanchlardin@hotmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: marauroa
Architecture: any
Depends: sun-java5-bin, mysql-server, ${shlibs:Depends}, ${misc:Depends}
Description: arianne java multiplayer online framework server.
  Marauroa is completly written in Java using a multithreaded server
  architecture with a TCP oriented network protocol, a mySQL based
  persistence engine and a flexible game system based on open systems
  totally expandible and modifiable by developers and that is able to
  run scripts on Python for the game's rules.
